* {
    text-align: center;
    background-color: black;
    color: whitesmoke;
}

#hekate-logo {
    max-width: 375px;
    min-width: 300px;
}

.form-container {

}

.form-container input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    width: 250px;
    height: 25px;
}

.form-container select {
    padding: 3px;
    width: 260px;
    height: 35px;
}

button {
    margin: 10px 5px;
    width: 150px;
    height: 40px;
}