@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family: 'Michroma', sans-serif;
}

p, nav a {
    font-size: 24px;
}

.selected-date {
    font-size: 1.7em;
    color: #990000;
}

#hekate-logo {
    max-width: 425px;
    min-width: 300px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    border-bottom: 2px solid whitesmoke;
}

a {
    text-decoration: none;
}

.form-container input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 250px;
    height: 25px;
    border: 2px solid rgb(224, 223, 223);
    font-size: 16px;
}

.form-container select {
    padding: 3px;
    width: 262px;
    height: 35px;
    border: 2px solid rgb(224, 223, 223);
    font-size: 14px;
}

template span {
    font-size: 14px;
}

.record-form-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-form-container input {
    margin: 5px;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

label {
    font-size: 20px;
    margin: 5px 0;
}

label:hover {
    color: #990000;
    cursor: pointer;
}

button {
    margin: 10px 5px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    padding: 5px 10px;
    color: whitesmoke;
    border-radius: 4px;
    font-family: 'Michroma', sans-serif;
}

button:hover {
    background-color: #990000;
    cursor: pointer;
    border-top: none;
    border-left: none;
}

button:active {
    color: whitesmoke;
    background-color: #990000;
}

a:hover {
    color: #990000;
}

textarea {
    width: 500px;
    height: 150px;
    font-size: 20px;
    margin-bottom: 15px;
    border: 2px solid rgb(224, 223, 223);
    border-radius: 4px;
}